.forgot-password-page {
    background-color: white;
    min-height: 100vh;

    .forgot-container {
        padding: 12px !important;
        margin-top: 10px !important;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .forgot-btn{
            margin-top: 10px !important;
        }
        .forgot-form{
            display: flex;
            flex-direction: column;
        }
    }
    .changePass-form{
        padding: 12px !important;
        button{
            margin-top: 10px !important;
        }
    }
}