.register-page{
    height: 92vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .register-form{
        position: absolute;
        width: 400px; 
        height: max-content;
        h2{font-weight: 900;}
        a{text-decoration: none;color: #0749FF;}

        .register-input{
            background-color: #F6E7E7;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 50px !important;
            .input-block{
                width: 100%;
                margin: 10px 0 !important;
                .input-child{
                    position: relative;
                    width: 100%;
                    margin: 10px 0 !important;
                    p{
                        font-size: 10px;
                        position: absolute;
                        top:10%;
                        left: 10px;
                    }
                    input{
                        padding: 12px 60px 0 12px !important;
                        width: 100%;
                        background-color: #D9D9D9;
                        height: 50px;
                        outline: none;
                        border: none;
                        border-radius: 10px;
                    }
                    .error-input{
                        position: absolute;
                        top: 50%;
                        left: -35px;
                        transform: translate(0, -50%);
                        height: 30px;
                        width: 30px;
                        background-image: url("../../../../../public/img/icons/report.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .guide{
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translate(0, -50%);
                        height: 24px;
                        width: 24px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        z-index: 1;
                        .guide-text{
                            position: absolute;
                            top: 50%;
                            right: -205px;
                            transform: translate(0,-50%);
                            background-color: #474742;
                            color: white;
                            border: solid white 2px;
                            border-radius: 15px;
                            padding: 10px !important;
                            width: 200px;
                            font-size: 12px;
                            visibility: hidden;
                        }
                    }
                    .guide:hover {
                        .guide-text{
                            visibility: visible;
                        }
                    }
                    .username-exist{
                        position: absolute;
                        top: -20px;
                        width: 300px;
                        color: red;
                    }   
                }
            }
            .register-btn{
                width: 50%;
                height: 50px;
                background-color: #1BA3B5;
                border-radius: 10px;
                color: white;
                font-weight: 600;
                border: none;
                margin: 10px !important;
            }
            .back-to-login{
                position: absolute;
                left: 22px;
                img{
                    width: 30px;
                    height: 30px;
                    rotate: 180deg;
                }
            }
        }
    }    
    .show-status{
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(600px, -225px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        .err-status{
            width: max-content;
            padding: 12px !important;
            font-size: 14px;
            color: white;
            border-radius: 10px;
            font-weight: 600;
            background-color: #ff655b;
        }
    }
    .blur-form{
        filter: blur(3px);
        pointer-events: none;
    }
    .return-to-login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 32px;
        font-weight: 900;
        span{
            background: linear-gradient(to right, #dcffa3, #02f81f);
            background-clip: text;
            color: transparent;
        }
    }
}
