.header{
    position: relative;
    width: 100vw;
    height: 12vh;
    padding-top: 20px !important;
    display: flex;
    justify-content: center;
    background: #fba4a4;
    .menu{
        display: flex;
        justify-content: center;
        width: 80%;
        position: absolute;
        > *{
            width: 20%;
            display: flex;
            justify-content: center;
        }
        .link{
            color: white;
            text-decoration: none;
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon{
                height: 24px;
                width: 24px;
            }
        }
        .link:hover{
            font-weight: 900;
            color: #000000;
            .icon{
                height: 30px;
                width: 30px;
            }
        }
        .logo{
            .link{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            img:nth-child(1){
                height: 40px;
            }
            img:nth-child(2){
                height: 30px;
                width: 150px;
            }
        }
        .logo:hover{
            filter: drop-shadow(0 0 15px rgb(244, 69, 69));
        }
    }
}