@import './DonateBlood.scss';

/* ReceiveBlood page styles */
.receive-blood-page {
  @extend .donate-blood-page;
  height: 800px !important;
  .form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .status{
    padding-left: 16px !important;
    font-weight: 600;
    .radio-status{
      display: flex;
      gap: 10px;
    }
    .note-status{
      span{color: #ff6b6b;}
    }
  }
  
} 