*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Roboto Slab", serif !important;
    background-color: rgb(137, 135, 135);
    padding-top: 8vh !important; 
}