::-webkit-scrollbar {
    display: none;
}
.animate-appear {
    animation: appear 1.5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.home-page{
    display: flex;
    flex-direction: column;
    width:  1440px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    gap: 10vh;
    .section-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .section-1-img{
            .slider{
                position: relative;
                height: calc( 400px * 1.2);
                width: calc( 600px * 1.2);
                display: flex;
                overflow: hidden;
                border-radius: 15px;
                border: 10px solid rgba(255, 255, 255, 0.795);
                box-shadow: 0 0 20px rgb(240, 220, 220);
                .list{
                    display: flex;
                    position: absolute;
                    height: inherit;
                    width: max-content;
                    position: absolute;
                    transition: 1s;
                    img{
                        height: calc( 400px * 1.2);
                        width: calc( 600px * 1.2);
                        transition: 1.2s;
                    }
                }
                .buttons{
                    box-sizing: border-box;
                    padding: 0 20px !important;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    button{
                        height: 50px;
                        width: 50px;
                        color: white;
                        font-size: 20px;
                        background-color: rgb(40, 41, 43);
                        border-radius: 25px;
                        border: none;
                    }
                }
            }
        }
        .section-1-title{
            margin-top: 40px !important;
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            color: #322927;
            .title-main{
                font-size: 48px;
                font-weight: 900;
                span{
                    color: transparent; background-clip: text;
                    background-image: linear-gradient(to right, #eecda3, #ef629f);
                }
                
            }
            .title-sub{
                color: #7c878f;
                font-size: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                button{
                    border: none;
                    color: white;
                    font-size: 14px;
                    padding: 10px !important;
                    width: 120px;
                    border-radius: 10px;
                    background-color: #39bc12;
                }
                div{

                    position: relative;
                    height: 40px;
                    width: 180px;
                    animation: wave 4s infinite;
                    // animation: wave 3s infinite;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    cursor: pointer;
                    font-size:14px;
                    color: black;
                    border-radius: 12px;
                    background-color: #ffffff;
                    box-shadow: 1px 1px 8px rgb(164, 162, 162);
                }
            }
        }
    }

    .section-2{
        flex-wrap: nowrap;
        .section-2-benefits, .section-2-requirements{
            display: flex;
            align-items: center;
            justify-content: center;
            .box{
                font-size: 14px;
                width: calc(100% * 10 / 12);
                height: 480px;
                border-radius: 20px;
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
                padding: 10px !important;
            }
        }
        .section-2-benefits{
            .box{
                .box-title{
                    height: calc(100% * 2 / 8);
                    text-align: center;
                    h2:nth-child(2){
                        font-size: 32px;
                        font-weight: 700;
                        margin-top: 10px;
                        color: #B63B3B;
                    }
                }
                .box-row{
                    height: calc(100% * 3 / 6);
                    display: flex;
                    .box-row-element{
                        
                        height: calc(100% * 2 / 3);
                        color: white;
                        padding: 3px 10px !important;
                        background-color: rgb(255, 252, 252);
                        color: rgb(10, 10, 9);
                        p:nth-child(1){
                            text-align: center;
                            font-size: 16px;
                        }
                    }
                    #ben-1{box-shadow: 1px 1px 12px rgb(203, 85, 85); border-radius: 20px 0 0 20px;}
                    #ben-2{box-shadow: 1px 1px 8px rgb(152, 152, 152); background-color: #D05454; border-radius: 0px 20px 20px 0px;}
                    #ben-3{box-shadow: 1px 1px 8px rgb(152, 152, 152); background-color: #CC6E6E; border-radius: 20px 0 0 20px;}
                    #ben-4{box-shadow: 1px 1px 12px #DF9F9F; border-radius: 0px 20px 20px 0px;}
                }
            }
        }
        
        .section-2-requirements{
            .box{
                gap: 10px;
                padding: 20px !important;
                .box-title{
                    height: calc(100% * 2 / 10);
                }
                .block-1, .block-2{display: flex;}
                .block-1{
                    height: calc(100% * ((2 / 3) * 8) / 10 - 5px);
                    gap: 10px;
                    .block-1-main{
                        width: calc(100% * 1 / 3 - 5px);
                        border-radius: 30px;
                        background-color: #B63B3B;
                    }
                    .block-1-ele{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: calc(100% * 2 / 3 - 5px);
                        gap: 10px;
                        .block-1-ele-child{
                            height: calc(50% - 5px);
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            div{
                                display: flex;
                                width: calc(50% - 5px);
                                background-color: #be7474;
                                border-radius: 30px;
                                height: 100%;
                                padding: 12px !important;
                                .icon-block{
                                    height: 24px;
                                    width: 24px;
                                    background-image: url("../../../assets/icon/age.svg");
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                        }
                    }
                }
                .block-2{
                    height: calc(100% * ((1 / 3) * 8) / 10 - 5px);
                    gap: 10px;
                    .block-2-ele{
                        height: calc(100% - 2px);
                        width: calc(100% * 1 / 3 - (20px / 3));
                        background-color: #cf8d8d;
                        border-radius: 30px;
                        padding: 10px !important;
                    }
                }
            }
        }
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-12px);
  }

  60% {
    transform: translateY(-8px);
  }
}
@keyframes wave{ 
    50%{
        opacity: 0.8;
        transform: scale(1.05);
    }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
